<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Parjac" verbose="1">
  <test name="Lexer">
    <packages>
      <package name="org.khelekore.parjac.lexer" />
   </packages>
 </test>
 <test name="Parser">
   <packages>
      <package name="org.khelekore.parjac.parser" />
   </packages>
 </test>
 <test name="Semantics">
   <packages>
      <package name="org.khelekore.parjac.semantics" />
   </packages>
 </test>
 <test name="Code generation">
   <packages>
      <package name="org.khelekore.parjac" />
   </packages>
 </test>
</suite>
